@font-face {
    font-family: 'Arial-MT';
    src: url('..//assets/fonts/Arial-MT.woff')
}

body {
    padding: 50px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #fff;
    background: url(style.css) center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
}

* {
    font-family: 'Arial', sans-serif;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
    color: white;
}

.date {

    min-height: 28px;
    font-size: 32px;
    margin-bottom: 20px;
    color: white;

}

.greetins-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.const-greet {
    font-size: 50px;
    color: #fff;
}


.prev-slider {
    position: absolute;
    background-image: url(..//assets/svg/slider-prev.svg);
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
    transform: scale(1);
    top: 128px;
    left: 27px;
}

.slider:hover {
    opacity: 1;
}

.slider:active {
    transform: scale(0.9);
}

.next-slider {
    position: absolute;
    background-image: url(..//assets/svg/slider-next.svg);
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .6;
    cursor: pointer;
    transition: .3s;

    top: 128px;
    right: 27px;
}

.greet-name {
    max-width: 50%;
    padding: 13px 10px 13px 10px;
    font-size: 55px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

}

.city {

    width: 100%;
    height: 34px;
    padding: 5px;
    font-size: 32px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;

}

.player-control {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.volume {
    position: absolute;
    background-image: url(..//assets/svg/volume.svg);
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background-color: transparent;
}



.play-prev {

    background-image: url(..//assets/svg/play-prev.svg);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;

}

.pause {

    background-image: url(..//assets/svg/pause.svg);
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;

}

.play-next {

    background-image: url(..//assets/svg/play-next.svg);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;

}

.play {

    background-image: url(..//assets/svg/play.svg);
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;

}

.button-player {
    transform: scale(1)
}

.button-player:active {
    transform: scale(0.950)
}
.button-player:hover {

    opacity: 1;
}

.playlist-item {
    color: white;
    font-size: 32px;
    list-style: none;
}


.playlist-item::before {
    content: "\2713";
    font-weight: 900;
    margin-right: 10px;
}

.activ {
    color: coral;
}

.weather {
    width: 350px;
    color: white;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}

.weather-icon {
    font-size: 50px;
}

.owf:before {
    font-size: 45px;
}


/* ============ audio-player advanced ============ */

.timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    width: 100%;
    height: 10px;
}

.progress {
    width: 0%;
    background: coral;
    height: 100%;
    transition: .25s;
}

.player {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    opacity: .7;
}

.controls {
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
    font-family: 'Arial-MT';
    color: white;
}

.audio-time {
    display: flex;
    justify-content: space-evenly;
}

.volume-line {
    display: none;
    background: white;
    width: 50px;
    height: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    position: absolute;
    left: 23px;
    top: 5px;
}

.volume-progress {
    width: 0%;
    background: coral;
    height: 100%;
    transition: .25s;
}

